@-webkit-keyframes cursor {
   0% {cursor: url(cursors/penguinlinkframe1.png), auto;}
  50% {cursor: url(cursors/penguinlinkframe2.png), auto;}
  100% {cursor: url(cursors/penguinlinkframe1.png), auto;}
} 

@keyframes cursor {
   0% {cursor: url(cursors/penguinlinkframe1.png), auto;}
  50% {cursor: url(cursors/penguinlinkframe2.png), auto;}
  100% {cursor: url(cursors/penguinlinkframe1.png), auto;}
}
.gaytext {
            background: linear-gradient(90deg, red, orange, #FDDA0D, green, blue, indigo, violet);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-weight: bold;
            font-size: 5vw;
            text-align: center;
            background-color: #ffffff;
            text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), /* Subtle shadow */
            8px 8px 12px rgba(0, 0, 0, 0.2); /* Slightly stronger, but still soft */
        }
body{
			cursor: url("cursors/penguincursor1.png"), auto;
		}
a {
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}

a:hover {
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}
button {
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}

button:hover {
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}

.game_widget_page{
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}

.widget_container {
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}

audio {
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}

audio:hover {
	cursor: url(cursors/penguinlinkframe1.png), pointer;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 1750ms infinite;
}

}
.btn {
cursor: url("/cursors/penguinlink.cur"), pointer;
  display:inline-block;
  background:-webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
  padding:8px 18px;
  border-radius:50px;
  border:2px solid rgba(0,0,0,0.7);
  border-bottom:2px solid rgba(0,0,0,0.7);
  border-top:2px solid #000;
  color:rgba(255,255,255,0.8);
  font-family:Helvetica, Arial, sans-serif;
  font-weight:bold;
  font-size:13px;
  text-decoration:none;
  text-shadow:0 -1px 0 rgba(0,0,0,0.75);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.05)
  
}

